
* { margin:0; padding:0; box-sizing:border-box; font-family:"Segoe UI", sans-serif; }

body {
  height:100vh;
  display:flex;
  background:#1e1f22;
  color:#dbdee1;
}

/* LEFT SERVER BUBBLES */
.servers {
  width:72px;
  background:#1a1b1e;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:12px 0;
  gap:12px;
}

.server-icon {
  width:48px;
  height:48px;
  border-radius:50%;
  background:#313338;
  cursor:pointer;
  transition:.2s;
}

.server-icon.active {
  background:#5865f2;
  border-radius:16px;
}

.server-icon:hover {
  border-radius:16px;
  background:#5865f2;
}

/* SIDEBAR */
.sidebar {
  width:240px;
  background:#2b2d31;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.menu { padding:16px; }

.menu-item {
  padding:10px;
  border-radius:6px;
  cursor:pointer;
  margin-bottom:4px;
  color:#b5bac1;
}

.menu-item:hover { background:#35373c; color:#fff; }
.menu-item.active { background:#404249; color:#fff; }

/* USER BOX */
.user-box {
  background:#232428;
  padding:10px;
  display:flex;
  align-items:center;
  gap:10px;
}

.avatar {
  width:36px;
  height:36px;
  border-radius:50%;
  background:#5865f2;
}

.user-info { flex:1; }

.user-info a {
  color:#dbdee1;
  text-decoration:none;
  font-size:14px;
}

/* MAIN */
.main {
  flex:1;
  display:flex;
  flex-direction:column;
  background:#313338;
}

.topbar {
  height:56px;
  border-bottom:1px solid #232428;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 16px;
}

.add-btn {
  background:#5865f2;
  border:none;
  color:white;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.center { flex:1; display:flex; }

.content {
  flex:1;
  padding:24px;
  overflow-y:auto;
}

.section { display:none; }
.section.active { display:block; }

.card {
  background:#2b2d31;
  padding:20px;
  border-radius:10px;
  margin-bottom:16px;
}

/* RIGHT PANEL */
.right {
  width:300px;
  background:#2b2d31;
  padding:16px;
  border-left:1px solid #232428;
}

.project-card {
  background:#313338;
  padding:14px;
  border-radius:8px;
  margin-bottom:12px;
}

@media(max-width:1000px){
  .right{display:none;}
}